name: Run Tests (Pest)

on: ['push', 'pull_request']

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug

      - name: Set up required directory structure
        run: |
          mkdir -p workbench/bootstrap/cache
          chmod -R 0777 workbench/bootstrap/cache
          mkdir -p workbench/storage/framework/views
          chmod -R 0777 workbench/storage/framework/views

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Tests
        run: ./vendor/bin/pest --ci